# requirements.txt

streamlit
youtube-transcript-api>=1.0.3
openai>=1.57.4
transformers>=4.47.0
pytube>=15.0.0
torch
requests
# For rpunct - install directly from Git
git+https://github.com/babthamotharan/rpunct.git@patch-2#egg=rpunct
simpletransformers>=0.70.1 # Dependency for rpunct
sentencepiece # Often needed by transformers/simpletransformers
